Flask==1.0.2
mysqlclient==2.0.3
pandas==0.23.4
Jinja2==2.10
Werkzeug==0.14.1
itsdangerous==0.24
click==6.7
Flask-SQLAlchemy==2.3.2
SQLAlchemy==1.2.12
Flask-Mail==0.9.1
Flask-Cors==3.0.10
Pillow==7.0.0
APScheduler==3.10.4